In [1]:
import pandas as pd
import numpy as np

In [19]:
sale = pd.read_csv('/content/jeju_sales.csv')
sale

,customer_id,purchase_id,store_id,purchase_yearmonth,purchase_weekday,purchase_hour,purchase_date,purchase_time,supply_date,item_id,item_g_l,item_g_m,item_g_s,item_name,purchase_cnt,unit_cost,purchase_amt
0,C118113,C118113_20180110_87,제주매장,2018M01,수요일,14,2018-01-10,:0:14:47:04,2018-01-10,P08010117,간식,과자,스낵,꼬마찹쌀모나카(112g/8개),1,3000,3000
1,C118113,C118113_20180110_87,제주매장,2018M01,수요일,14,2018-01-10,:0:14:47:04,2018-01-10,P09040101,양념/가루,장,간장,제주전통어간장(500ml),1,7900,7900
2,C118113,C118113_20180110_87,제주매장,2018M01,수요일,14,2018-01-10,:0:14:47:04,2018-01-10,P09040100,양념/가루,장,간장,맛간장(900ml),1,13600,13600
3,C118113,C118113_20181008_22,제주매장,2018M10,월요일,11,2018-10-08,:0:11:59:24,2018-10-08,P09010305,양념/가루,가루,곡식가루,엿기름가루(무/500g),2,3200,6400
4,C118113,C118113_20181008_22,제주매장,2018M10,월요일,11,2018-10-08,:0:11:59:24,2018-10-08,P09010301,양념/가루,가루,곡식가루,메주가루(500g),2,11000,22000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273317,C705016,C705016_20191222_46,서귀포매장,2019M12,일요일,14,2019-12-22,:0:14:52:43,2019-12-22,P01010104,주곡,멥쌀,백미,백미/유(4kg)-매장용,1,15700,15700
273318,C705016,C705016_20191222_46,서귀포매장,2019M12,일요일,14,2019-12-22,:0:14:52:43,2019-12-22,P08010301,간식,과자,한과/유과,차례상약과(350g/10개),1,8800,8800
273319,C705016,C705016_20191222_46,서귀포매장,2019M12,일요일,14,2019-12-22,:0:14:52:43,2019-12-22,P06040300,축산물,유제품,아이스크림,유기농아이스크림(기본형),1,8900,8900
273320,C705016,C705016_20191229_51,서귀포매장,2019M12,일요일,14,2019-12-29,:0:14:53:30,2019-12-29,P08040137,간식,빵,빵,쌀로만든잉글리쉬머핀(66g×4개)/매장,1,3900,3900
273321,C705016,C705016_20191229_51,서귀포매장,2019M12,일요일,14,2019-12-29,:0:14:53:30,2019-12-29,P06030202,축산물,육가공,돼지가공,★김밥용햄(285g)-매장,1,4500,4500

In [30]:
sales = sale[['store_id','item_g_l','purchase_cnt']]
sales

       store_id item_g_l  purchase_cnt
0          제주매장       간식             1
1          제주매장    양념/가루             1
2          제주매장    양념/가루             1
3          제주매장    양념/가루             2
4          제주매장    양념/가루             2
...         ...      ...           ...
273317    서귀포매장       주곡             1
273318    서귀포매장       간식             1
273319    서귀포매장      축산물             1
273320    서귀포매장       간식             1
273321    서귀포매장      축산물             1

[273322 rows x 3 columns]

In [33]:
salem = sale[['store_id','item_g_m','purchase_cnt']]
salem

       store_id item_g_m  purchase_cnt
0          제주매장       과자             1
1          제주매장        장             1
2          제주매장        장             1
3          제주매장       가루             2
4          제주매장       가루             2
...         ...      ...           ...
273317    서귀포매장       멥쌀             1
273318    서귀포매장       과자             1
273319    서귀포매장      유제품             1
273320    서귀포매장        빵             1
273321    서귀포매장      육가공             1

[273322 rows x 3 columns]

In [36]:
salel = sale[['store_id','item_g_s','purchase_cnt']]
salel

       store_id item_g_s  purchase_cnt
0          제주매장       스낵             1
1          제주매장       간장             1
2          제주매장       간장             1
3          제주매장     곡식가루             2
4          제주매장     곡식가루             2
...         ...      ...           ...
273317    서귀포매장       백미             1
273318    서귀포매장    한과/유과             1
273319    서귀포매장    아이스크림             1
273320    서귀포매장        빵             1
273321    서귀포매장     돼지가공             1

[273322 rows x 3 columns]

In [32]:
sales.groupby(by = ['store_id','item_g_l'],as_index=False).sum()

   store_id item_g_l  purchase_cnt
0       모바일       간식          2835
1       모바일       반찬          1665
2       모바일    양념/가루           890
3       모바일       주곡           260
4       모바일       채소          3090
5       모바일      축산물          1549
6     서귀포매장       간식         21696
7     서귀포매장       반찬         34174
8     서귀포매장    양념/가루          9808
9     서귀포매장       주곡          2004
10    서귀포매장       채소         21357
11    서귀포매장      축산물         13320
12      인터넷       간식          5870
13      인터넷       반찬          3343
14      인터넷    양념/가루          1689
15      인터넷       주곡           565
16      인터넷       채소          4427
17      인터넷      축산물          3078
18       전화       간식          1032
19       전화       반찬           784
20       전화    양념/가루           498
21       전화       주곡           613
22       전화       채소          2677
23       전화      축산물          1142
24     제주매장       간식         64289
25     제주매장       반찬         38426
26     제주매장    양념/가루         21387
27     제주매장       주곡          5964
28     제주매장       채소         57192
29     제주매장      축산물         42852

In [35]:
salem.groupby(by = ['store_id','item_g_m'],as_index=False).sum()

    store_id item_g_m  purchase_cnt
0        모바일       가루           217
1        모바일     과일채소           259
2        모바일       과자           741
3        모바일    기름/식초           125
4        모바일     김장채소            11
..       ...      ...           ...
183     제주매장   절임/장아찌          2114
184     제주매장     즉석조리          1434
185     제주매장       찹쌀          1045
186     제주매장     특용작물           119
187     제주매장       한우          3140

[188 rows x 3 columns]

In [37]:
salel.groupby(by = ['store_id','item_g_s'],as_index=False).sum()

     store_id item_g_s  purchase_cnt
0         모바일     가공소금            21
1         모바일      가래떡            20
2         모바일     가시오이             6
3         모바일       가지            47
4         모바일     가지말림             2
...       ...      ...           ...
1252     제주매장       호박             3
1253     제주매장      호박잎            28
1254     제주매장      홍피망             9
1255     제주매장     홍화나물            13
1256     제주매장       황기            35

[1257 rows x 3 columns]